section.aboutUs
    .gridContainer
        .caption
            h1.caption__name About Us
            p.caption__description The most important thing to us is building products people love.
        .blog
            article.article
                img.article__image(src="../../assets/img/photo.jpg")
                h2.article__name John Doe
                p.article__description Our work was redesigning the outdated user interface of Rotix, a puzzle game. We used simple, bright colors and a clean approach to produce a stunning, pixel-perfect UI.
                .article__href
                    a.sprite.sprite-twitter(href="#") 
                    a.sprite.sprite-linked-in(href="#")
                    a.sprite.sprite-dribbble(href="#")
            article.article
                img.article__image(src="../../assets/img/photo.jpg")
                h2.article__name Jane Helf
                p.article__description Our work was redesigning the outdated user interface of Rotix, a puzzle game. We used simple, bright colors and a clean approach to produce a stunning, pixel-perfect UI.
                .article__href
                    a.sprite.sprite-twitter(href="#")
                    a.sprite.sprite-linked-in(href="#")
                    a.sprite.sprite-dribbble(href="#")
            article.article
                img.article__image(src="../../assets/img/photo.jpg")
                h2.article__name Joshua Insanus
                p.article__description Our work was redesigning the outdated user interface of Rotix, a puzzle game. We used simple, bright colors and a clean approach to produce a stunning, pixel-perfect UI.
                .article__href
                    a.sprite.sprite-twitter(href="#")
                    a.sprite.sprite-linked-in(href="#")
                    a.sprite.sprite-dribbble(href="#")
        .offer
            .block
                h3.offer__name 
                    span NEW
                    | Brushed- PRemium one page html/css template
                p.offer__description
                    |   Lorem ipsum dolor sit       amet,       consectetur     adipiscing elit.           Maecenas neque diam,       luctus at laoreet in       auctor ut tellus. Etiam
                    br
                    |   enim lacus, ornare et       tempor, rhoncus rhoncus     sem. Aliquam volutpat       arcu et nibh mollis         eleifend pharetra lorem
                    br
                    | scelerisque. Donec vel      enim purus, id viverra      neque. Cras in velit        ante, eget          pellentesque sem. Duis tincidunt erat quam.
            a.offer__href(href="") purchase
            