footer
    .gridContainer
        section.twitter
            p.twitter__text 
                |Searching on the go is now faster w/        quick sitelinks & quick view                goo.gl/i4KTZ 
                span.one
                    |#googlesearch	
                span.two    
                    |about a day ago
            a.twitter__href(href="#"): img(src="assets/img/twitter1.png")   
        section.href
            .item
                .item__block
                    a.sprite.sprite-behance(href="#")
                .item__block
                    a.sprite.sprite-dribbble(href="#")
                .item__block
                    a.sprite.sprite-facebook(href="#")
                .item__block
                    a.sprite.sprite-twitter(href="#") 
                .item__block
                    a.sprite.sprite-vimeo(href="#") 
        section.alessio
             p.alessio__text 
                |2013 brushed.
                span.one
                    |Brushed temlate	
                span.two    
                    |by
                span.one
                     |   Alessio Atzeni
             