section.getInTouch
    .gridContainer
        .caption
            h1.caption__name Get in Touch
            p.caption__description We’re currently accepting new client projects. Think we might help? We’d love to hear from you.
        .details   
            .input
                input.input__name(type="text" placeholder="Full Name")
                input.input__name(type="email" placeholder="Email Address") 
                input.input__massage(type="text" placeholder="Your Massage") 
                input.input__submit(type="submit" value="Submit") 
            .contacts
                 h4.contacts__name contact details
                 p.contacts__address info@creativeda.sh
                 p.contacts__address (916) 378-4475
                 p.contacts__address Creativedash 5701 Lonetree Blvd. 105Rocklin, CA 95765
            