
//////header
header
    .gridContainer
        .logo   
            a(href="#")
                img(src="../../assets/img/Brushed-logo.jpg")
        nav.navigation
            span.button
            ul.list 
                li
                    a(href="#") home
                li
                    a(href="#") our work
                li
                    a(href="#") about us
                li
                    a(href="#") contact