section.ourWork
    .gridContainer
        .caption
            h1.caption__name Our Work
            p.caption__description See Also Great Stuff on 
                a.caption__dribble(href="#") Dribble
        section.typeOfWork        
            nav.navigation
                h2.navigation__name type of work
                ul.navigation__list
                    li 
                        a(href="#") All
                    li 
                        a(href="#") Icons
                    li 
                        a(href="#") 3D
                    li 
                        a(href="#") UX/UI
                    li 
                        a(href="#") Concepts
            .photoSection
                img(src="assets/img/photo.jpg")
                img(src="assets/img/photo.jpg")
                img(src="assets/img/photo.jpg")
                img(src="assets/img/photo.jpg")
                img(src="assets/img/photo.jpg")
                img(src="assets/img/photo.jpg")
                img(src="assets/img/photo.jpg")
                img(src="assets/img/photo.jpg")
                img(src="assets/img/photo.jpg")
            
            