doctype html

include var/global.pug
include var/mixins.pug

html
    include includes/head.pug    
body       
 include includes/slider.pug
 include includes/header.pug        
 include includes/our work.pug
 include includes/about us.pug
 include includes/get in touch.pug
 include includes/footer.pug
 include includes/script.pug
 
  